<!-- INCLUDE mcp_header.html -->

<a name="maincontent"></a>

<!-- IF U_BACK -->
	<br /><a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>
<!-- ENDIF -->

<!-- IF ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR}</p>
	</div>
<!-- ENDIF -->

<!-- IF S_DATA_OUTPUT -->
	<!-- BEGIN data_output -->
		<h2>{data_output.TITLE}</h2>
		<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
			{data_output.DATA}
		</table>
		<!-- IF data_output.PAGINATION -->
		<div class="pagination">
			<span>{data_output.PAGINATION}</span>
		</div>
		<!-- ENDIF -->
		<br /><br />
	<!-- BEGINELSE -->
		<!-- IF not S_DISPLAY_IP_INPUT -->
		<div class="errorbox">
			<h3>{L_WARNING}</h3>
			<p>{L_NO_ITEMS}<br /><a href="{U_BACK_NONE}">&laquo; {L_BACK}</a></p>
		</div>
		<!-- ENDIF -->
	<!-- END data_output -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_IP_INPUT -->
	<form id="asacp_ip_search" method="post" action="{U_ACTION}">

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th colspan="2"align="center">{L_ASACP_IP_SEARCH}</th>
	</tr>
	<tr>
		<td class="row1" width="40%"><b class="gen">{L_ASACP_IP_SEARCH}: </b></td>
		<td class="row2"><input type="text" class="post" name="ip" size="20" /></td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center"><input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" /></td>
	</tr>
	</table>
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
	</form>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->