<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form name="confirm" action="{S_CONFIRM_ACTION}" method="post">

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{MESSAGE_TITLE}</th>
	</tr>
	<tr>
		<td class="row1" align="center">
			<p class="gen">{MESSAGE_TEXT}<br /><br />
			{L_ASACP_BAN_ACTIONS}</p><br />
		</td>
	</tr>
	<!-- IF S_BAN_USER -->
	<tr>
		<td class="row1" align="center">
			<p class="gen"><strong>{L_ASACP_BAN_REASON}</strong><br />
			{L_ASACP_BAN_REASON_EXPLAIN}</p><br />
			<textarea name="ban_reason" id="ban_reason" rows="4" cols="76" class="inputbox">{BAN_REASON}</textarea>
		</td>
	</tr>
	<tr>
		<td class="row1" align="center">
			<p class="gen"><strong>{L_ASACP_BAN_REASON_SHOWN_TO_USER}</strong><br />
			{L_ASACP_BAN_REASON_SHOWN_TO_USER_EXPLAIN}</p><br />
			<textarea name="ban_reason_shown" id="ban_reason_shown" rows="4" cols="76" class="inputbox">{BAN_REASON_SHOWN_TO_USER}</textarea>
		</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_SFS_SUBMIT -->
	<tr>
		<td class="row1" align="center">
			<p class="gen"><strong>{L_STOP_FORUM_SPAM}</strong></p><br />
			<input type="checkbox" name="sfs_submit"<!-- IF SFS_SUBMIT --> checked="checked"<!-- ENDIF --> /> {L_SFS_SUBMIT}<br /><br />

			<p class="gen<!-- IF SFS_EVIDENCE_ERROR --> error<!-- ENDIF -->">{L_ASACP_EVIDENCE_SFS}</p>
			<textarea name="sfs_evidence" id="sfs_evidence" rows="7" cols="76" class="inputbox">{SFS_EVIDENCE}</textarea>
		</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_AKISMET_SUBMIT -->
	<tr>
		<td class="row1" align="center">
			<p class="gen"><strong>{L_ASACP_AKISMET}</strong></p><br />
			<input type="checkbox" name="akismet_submit"<!-- IF AKISMET_SUBMIT --> checked="checked"<!-- ENDIF --> /> {L_ASACP_AKISMET_SUBMIT}<br /><br />
			<textarea name="akismet_post" rows="7" cols="76" class="inputbox" readonly="readonly">{AKISMET_TEXT}</textarea>
		</td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1" align="center">
			{S_HIDDEN_FIELDS}
			<input type="submit" name="confirm" value="{YES_VALUE}" class="btnmain" />&nbsp;&nbsp;<input type="submit" name="cancel" value="{L_NO}" class="btnlite" />
		</td>
	</tr>
	</table>

</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->