<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h2>{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>

	<br />

	<p>{L_ASACP_BAN_ACTIONS}</p>

	<br />

	<!-- IF S_BAN_USER -->
	<fieldset class="fields1">
		<h3>{L_ASACP_BAN_REASON}</h3>
		<p>{L_ASACP_BAN_REASON_EXPLAIN}</p>
		<div>
			<textarea name="ban_reason" id="ban_reason" rows="4" cols="76" class="inputbox">{BAN_REASON}</textarea>
		</div>

		<h3>{L_ASACP_BAN_REASON_SHOWN_TO_USER}</h3>
		<p>{L_ASACP_BAN_REASON_SHOWN_TO_USER_EXPLAIN}</p>
		<div>
			<textarea name="ban_reason_shown" id="ban_reason_shown" rows="4" cols="76" class="inputbox">{BAN_REASON_SHOWN_TO_USER}</textarea>
		</div>
	</fieldset>

	<br />
	<!-- ENDIF -->

	<!-- IF S_SFS_SUBMIT -->
	<fieldset class="fields1">
		<h3>{L_STOP_FORUM_SPAM}</h3>
		<input type="checkbox" name="sfs_submit"<!-- IF SFS_SUBMIT --> checked="checked"<!-- ENDIF --> /> {L_SFS_SUBMIT}
		<br /><br /><br />

		<p<!-- IF SFS_EVIDENCE_ERROR --> class="error"<!-- ENDIF -->>{L_ASACP_EVIDENCE_SFS}</p>
		<div>
			<textarea name="sfs_evidence" id="sfs_evidence" rows="7" cols="76" class="inputbox">{SFS_EVIDENCE}</textarea>
		</div>
	</fieldset>

	<br />
	<!-- ENDIF -->

	<!-- IF S_AKISMET_SUBMIT -->
	<fieldset class="fields1">
		<h3>{L_ASACP_AKISMET}</h3>
		<input type="checkbox" name="akismet_submit"<!-- IF AKISMET_SUBMIT --> checked="checked"<!-- ENDIF --> /> {L_ASACP_AKISMET_SUBMIT}
		<br /><br /><br />
		<div>
			<textarea name="akismet_post" rows="7" cols="76" class="inputbox" readonly="readonly">{AKISMET_TEXT}</textarea>
		</div>
	</fieldset>

	<br />
	<!-- ENDIF -->

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="confirm" value="{L_YES}" class="button2" />&nbsp;
		<input type="submit" name="cancel" value="{L_NO}" class="button2" />
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
