<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_UCP_ACTION}" id="register">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN}</p>

	<fieldset class="fields2">
	<!-- IF S_CONFIRM_CODE_WRONG --><p class="error">{L_CONFIRM_CODE_WRONG}</p><!-- ENDIF -->
	<dl>
		<dt><label for="confirm_code">{L_CONFIRM_CODE}:</label></dt>
		<dd>{CONFIRM_IMG}</dd>
		<dd><input type="text" name="asacp_code" id="asacp_code" size="8" maxlength="8" class="inputbox narrow" title="{L_CONFIRM_CODE}" /></dd>
		<dd>{L_CONFIRM_CODE_EXPLAIN}</dd>
	</dl>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" id ="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->